/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Life Savers', serif; */

/*
COLORS
H1, Get answer button, text in input field: #2B4E80;
Get answer button disabled: #607AA0;
Get answer button hover: #1C3455;
light blue background: #E6ECF4;
clear button: #DE4841;
clear button disabled: #D0CDCD
*/

body {
  /* display: flex; */
}

header {
  font-family: 'Life Savers', serif;
  color: #2B4E80;
  display: flex;
  justify-content: center;
}

section {
 display: flex;
 justify-content: center;
}

.main {
  width: 500px;
  height: 400px;
  display: flex;
  background-color: #E6ECF4;
  display: flex;
  flex-direction: column;
}


.form {
  font-family: 'Open Sans', sans-serif;
  padding: 10px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.question-input {
  color: #2B4E80;
  font-family: 'Open Sans', sans-serif;
}

.eight-ball {
  height: 200px;
  width: auto;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
}

.clear-button {
  display: flex;
  align-self: flex-end;
}
